@model  Serie
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Série</h1>
<hr />

<div class="card">
    <div class="card-body">
        <form asp-controller="Serie" asp-action="Cadastrar">
            <partial name="_formulario"/>
            <botao texto="cadastrar"></botao>
        </form>
    </div>
</div>

