@model  Serie
@{
    ViewData["Title"] = "Editar";
}

@TempData["msg"]

<h1>Editar Série</h1>
<hr />
<div class="card">
    <div class="card-body">
        <form asp-controller="Serie" asp-action="Editar">
            <input asp-for="SerieId"/>

            <partial name="_formulario" />
            <botao texto="Editar"/>
            <a asp-action="Listar" class="btn btn-dark">Cancelar</a>
        </form>
    </div>
</div>

