
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>
<p>Nome do Usuário: @ViewData["nome"]</p>
<hr />

<form action="/Cliente/Cadastrar" method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="id-nome">Nome</label>
                <input type="text" name="nome" id="id-nome" class="form-control" />
           </div>

            <div class="form-group">
                <label for="id-email">Email</label>
                <input type="email" name="email" id="id-email" class="form-control" />
            </div>

            <div class="form-group">
                <label for="id-cpf">CPF</label>
                <input type="text" name="cpf" id="id-cpf" class="form-control" />
            </div>

            <div class="form-group">
                <input type="checkbox" name="maior" id="id-maior"> 
                <label for="id-maior">Maior de idade</label>
            </div>

            <div class="form-group">
                <input type="submit" class="alert alert-success mt-2" value="Cadastrar" />
            </div>

        </div>
    </div>
</form>

