
@model  Condominio

<h1>Cadastrar Condominio</h1>
<hr />

<form asp-action="Cadastrar" asp-controller="Condominio">
    <partial name="_formulario"></partial>
    <botao texto="Cadastrar"></botao>
</form>