
<form asp-action="Editar" asp-controller="Condominio">
    <partial name="_formulario"></partial>
    <botao texto="Editar"></botao>
    <a asp-action="Listar" class="btn btn-dark">Cancelar</a>
</form>

